.container{
    height: 100%;
    max-width: 400px;
    
}


body {
    display: flex;
    justify-content: center;
    background-image: url("images/party.jpg");
    background-size: cover;
    background-repeat:no-repeat;
    font-family: 'Dancing Script', cursive;
    font-weight: bold;
    text-align: center;
    background-attachment: fixed;
    text-shadow: 1px 1px 2px #ffffff;
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: 1px 1px 2px #36454F;
}

#increment-btn {
    background: #ed7b84;
}

#save-btn {
    background: #7eb77f;
}

